#battery {
  margin: 0 auto 2px auto;
  width: 53px;
  margin-top: 50px;
}



.bottom, .middle, .top-b, .top-a {
  margin-right: -4px;
}

.bottom, .top-b {
  background: #444 linear-gradient(rgba(255, 255, 255, 0.3) 0%, transparent 13%, transparent 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 30%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.5) 90%);
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  width: 3px;
  vertical-align: middle;
}

.middle {
  border: 1px solid #222;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 45px;
  vertical-align: middle;
}

.top-a {
  background: #444 linear-gradient(rgba(255, 255, 255, 0.3) 0%, transparent 13%, transparent 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 30%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.5) 90%);
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  width: 3px;
  vertical-align: middle;
}

.fill {
  background: linear-gradient(#0c0 0%, #00aa00 50%, #0c0 100%);
  box-shadow: 0 0 10px #0c0;
  height: 26px;
  margin: 2px 0;
  width: 50%;
}

.glass {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, transparent 10%, transparent 20%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.25) 20%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.25) 90%);
  border-radius: 3px;
  display: block;
  height: 30px;
  position: absolute;
  width: 45px;
  z-index: 1;
}

.fade {
  background: linear-gradient(#222 0%, #222 50%, transparent 100%);
  position: absolute;
  height: 100%;
  width: 101%;
  z-index: 2;
}


