*{
       -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
       -ms-transition: all 300ms ease-in-out;
       -o-transition: all 300ms ease-in-out;
       transition: all 300ms ease-in-out;
       -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
       box-sizing:border-box;
}

body{
       background: url(background.jpg) no-repeat;
       background-size: 100% 100%;

}

body, html {
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0;
       overflow: hidden;
}

p{ float:left }

.mainButtons{
       position: relative;
       height: 90%;
       width: auto;

}

.mainButtons:hover{
       height: 100%;
       width: auto;
}



.container{
       position: relative;
       width: 50%;
       height: 100%;
       float:left;
       text-align: center;
}



#banner{
       width: 100%;
       height: 30%;
       background-color: #7C7B7B;
       border-bottom: double ;
       border-bottom-color: #CE1010;
}


video#droneVideo { 
       position: fixed;
       top: 50%;
       left: 50%;
       min-width: 100%;
       min-height: 100%;
       width: auto;
       height: auto;
       z-index: -100;
       -webkit-transform: translateX(-50%) translateY(-50%);
       transform: translateX(-50%) translateY(-50%);
       background: url(background.jpg) no-repeat;
       background-size: cover; 
}

#mapa{
       position: absolute;
       bottom: 0px;
       left: 50%;
       transform: translate(-50%, -5%);
}

#attitude {     
       float: left;
}

#altimeter {     
       float: left;
}

#turn_coordinator {     
       float: right;
}

#heading {     
       float: right;
}



#leftJoystick {
       position: absolute;
       bottom: 25px;
       left: 50px;
}

#rightJoystick {
       position: absolute;
       bottom: 25px;
       right: 50px;
}



#localVideo{
       position: absolute;
       bottom: 50%;
       left: 50%;
       transform: translate(-50%, 50%);       
}

